body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #0f172a;
}

h1 {
    color: #fff;
}

p {
    color: #fff;
}

.game-container {
  padding: 20px;
  max-width: 500px;
  margin: auto;
  margin-top: 11px;
}

.game-image {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

#left_img {
  width: 243px;
  height: 672px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  background-position: 62% 50%;
  background-image: url(images/left-side-img.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#right_img {
  width: 243px;
  height: 672px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  background-position: 62% 50%;
  background-image: url(images/right-img.avif);
  background-size: cover;
  background-repeat: no-repeat;
}

.health-bar {
  width: 100%;
  max-width: 400px;
  height: 25px;
  background-color: #333;
  border: 2px solid #555;
  border-radius: 12px;
  overflow: hidden;
  margin: 20px auto;
}

#health-fill {
  height: 100%;
  background-color: #e63946; /* red */
  width: 100%; /* full health */
  transition: width 0.3s ease-in-out;
}


